<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue</title>
    <link type="text/css" rel="stylesheet" href="./bootstrap/css/bootstrap.css">
</head>
<body>
<div id="app" class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="#">用户管理</a></li>
        <!--    <li><a href="#">操作</a></li>-->
        <li class="active">查询</li>
    </ol>
    <form class="form-inline">
        <div class="form-group">
            <label for="username">用户名</label>
            <input type="text" v-model="user.username" class="form-control" id="username" placeholder="请输入用户名">
        </div>
        <div class="form-group">
            <label for="age">年龄</label>
            <input type="text" v-model="user.age" class="form-control" id="age" placeholder="请输入年龄">
        </div>
        <div class="form-group">
            <label for="phone">手机号码</label>
            <input type="text" v-model="user.phone" class="form-control" id="phone" placeholder="请输入手机号码">
        </div>
        <div class="form-group">
            <label for="address">地址</label>
            <input type="text" v-model="user.address" class="form-control" id="address" placeholder="请输入地址">
        </div>
        <button type="submit" class="btn btn-success" @click.prevent="query">查询</button>
    </form>

    <div class="table-responsive" style="margin-top: 10px;">
        <button class="btn btn-danger" @click.prevent="addUser">新增</button>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <td>序号</td>
                <td>用户名</td>
                <td>密码</td>
                <td>年龄</td>
                <td>手机号码</td>
                <td>地址</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user,index in users">
                <td v-text="index+1"></td>
                <td v-text="user.username"></td>
                <td v-text="user.password"></td>
                <td v-text="user.age"></td>
                <td v-text="user.phone"></td>
                <td v-text="user.address"></td>
                <td>
                    <a href="#" class="btn btn-primary" @click="editUser(user.id)">编辑</a>
                    <a href="#" class="btn btn-danger" @click="deleteUser(user.id)">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="vue/vue.js"></script>
<script src="axios/axios.min.js"></script>

<script>
    let vue = new Vue({
        el:"#app",
        data:{
            users:[],
            user:{}
        },
        methods:{
            query(){
                let _this = this;
                axios.post("http://localhost:8080/user/findUser",this.user).then(function (response) {
                        if(response.data.code=="200"){
                            _this.users = response.data.data;
                        }else{
                            alert(response.data.message);
                        }
                    }).catch(function(error){
                        alert(error);
                    });
            },
            deleteUser(id){
                let _this = this;
                axios.get("http://localhost:8080/user/deleteUser?id="+id).then(function (response) {
                    if(response.data.code=="200"){
                        //重新刷新页面查询
                        _this.query();
                    }else{
                        alert(response.data.message);
                    }
                }).catch(function (error) {
                    alert(error);
                })
            },
            editUser(id){
                openWin("http://localhost:8080/edit.html?id="+id,"编辑");
                let routeData = this.$router.resolve({ path: '/qrCode', query: {data: JSON.stringify({id:id}) } });
                window.open(routeData.href, '_blank');
                //path: 是你跳转的页面路径
                //query: 是你要传递的参数
            },
            addUser(){
                // window.open("http://localhost:8080/add.html");
                openWin("http://localhost:8080/add.html","新增");
            }
        },
        created(){
            this.query();
        }
    })

    function openWin(url,name) {
        var url=url;                             //转向网页的地址;
        var name=name;                            //网页名称，可为空;
        var iWidth=920;                          //弹出窗口的宽度;
        var iHeight=600;                         //弹出窗口的高度;
        //获得窗口的垂直位置
        var iTop = (window.screen.availHeight - 30 - iHeight) / 2;
        //获得窗口的水平位置
        var iLeft = (window.screen.availWidth - 10 - iWidth) / 2;
        window.open(url, name, 'height=' + iHeight + ',,innerHeight=' + iHeight + ',width=' + iWidth + ',innerWidth=' + iWidth + ',top=' + iTop + ',left=' + iLeft + ',status=no,toolbar=no,menubar=no,location=no,resizable=no,scrollbars=0,titlebar=no');
        // window.open("AddScfj.aspx", "newWindows", 'height=100,width=400,top=0,left=0,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no, status=no');
    }
</script>
</body>
</html>